<div class="grid">
  <div class="col-12">
    <p-card
      styleClass="shadow-3 m-5 text-indigo-800"
      header="Product's Categories"
    >
      <p-table
        [value]="categories"
        [(selection)]="categorySelected"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} categories"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              <div class="flex justify-content-between align-items-center">
                <span>Name</span>
                <div class="flex align-items-center">
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="name"
                    display="menu"
                    matchMode="contains"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th class="flex justify-content-center">
              <p-button
                styleClass="p-button-info"
                icon="pi pi-plus"
                label="Add"
                (onClick)="handleCategoryEvent(addCategoryAction)"
              ></p-button>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-category>
          <tr>
            <td>{{ category?.name }}</td>
            <td>
              <div
                class="flex justify-content-center gap-2 align-items-center"
              >
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  aria-label="Edit"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  aria-label="Delete"
                  (click)="handleDeleteCategoryEvent(category?.id, category?.name)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <!-- Confirmation Dialog -->
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>
