<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center"
    >
      <p-card header="Sign Up" subheader="Fill your credentials">
        <app-dynamic-form
          [questions]="questions"
          (formSubmitted)="onSubmit($event)"
        ></app-dynamic-form>
        <p>
          Have an account already? Click
          <a [routerLink]="['../login']">here</a>.
        </p>
      </p-card>
    </div>
  </div>
</div>
